
.App {
  text-align: center;
}

.master {
  background-color: yellow;
  width: 400px;
}
.logo {
  width: 80px;
  margin-left: 50%;
}
.puce {
  margin-right: 80%;
  width: 40px;

}
.title {
  font-size: 1.5em;
  margin-left: 150px;

}
.Numbers {
  margin-right: 65%;
    font-size: 1.5em;
}
.jour {
  margin-left: 50%;
}
.Nom {
  /* margin-right: 80%; */
  font-size: 1.2em;
}
.company {
  margin-left: 50%;
}
.card-Number {
  width: 180px;
}
.Date_user {
  width: 180px;
}
.Name_user {
  width: 180px;
}
.master_card {
  display: flex;
}
